// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.moie {
}

.error-badge {
  background-color: @background-color-error;
  color: black;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
.bold  {
  font-weight: bold;
}
